html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0;
}

body {
  color: #2f3035;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  font-family: "SFProDisplay-Regular", sans-serif;
}

.container {
  margin: 0 auto;
  max-width: 1200px;
  padding: 0 15px;
}

.header {
  margin-bottom: 80px;
}

.header__top-inner {
  display: flex;
  justify-content: space-between;
  min-height: 122px;
  align-items: center;
  font-family: "SFProDisplay-Bold", sans-serif;
  font-weight: 700;
}

.menu__list {
  display: flex;
  gap: 50px;
  font-family: "SF Pro Display";
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.header__box {
  display: flex;
  align-items: center;
  margin-right: 23px;
}

.user-list {
  display: flex;
  gap: 10px;
}

.header__address {
  margin-right: 86px;
  position: relative;
  padding-left: 30px;
}

.header__address::before {
  content: "";
  position: absolute;
  background-image: url("/images/address.svg");
  left: 0;
  bottom: 0;
  width: 30px;
  height: 30px;
}

.header__bottom-inner {
  padding: 15px 0;
  background-color: #f0f0f4;
}

.menu-categories {
  display: flex;
  justify-content: space-around;
}

.basket {
  position: relative;
  padding-right: 14px;
}

.basket__num {
  text-align: center;
  font-family: "SF Pro Display";
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
  color: white;
  position: absolute;
  right: 0;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #1c62cd;
  top: 2px;
}

.menu-categories-item {
  position: relative;
}

.menu-categories__link::before {
  left: auto;
  right: 0;
  content: "";
  position: absolute;
  width: 0;
  background-color: #1c62cd;
  height: 3px;
  bottom: -16px;
  transition: all 0.5s;
}
.menu-categories__link:hover::before {
  right: auto;
  left: 0;
  width: 100%;
}

.banner-section__inner {
  display: flex;
  justify-content: space-between;
}

.banner-section__slider {
  max-width: 870px;
}

.banner-section__slider-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: transparent;
  border: none;
}

.banner-section__slider-btnprev {
  z-index: 5;
  margin-left: 30px;
}

.banner-section__slider-btnnext {
  right: 30px;
}

.banner-section__slider .slick-dots {
  display: flex;
  font-size: 0;
  position: absolute;
  bottom: 40px;
  left: 50%;
  transform: translateX(-50%);
  gap: 9px;
}

.banner-section__slider .slick-dots button {
  border: none;
  width: 11px;
  height: 11px;
  background-color: transparent;
  border-radius: 50%;
  border: 1px solid white;
  padding: 0;
}

.banner-section__slider .slick-active button {
  background-color: #f0f0f4;
}

.sale-item {
  max-width: 265px;
  min-height: 400px;
  border: 1px solid #c4c4c4;
  text-align: center;
  border-radius: 3px;
}

.sale-item__top {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.sale-item__info {
  color: #fff;
  font-family: "Proxima Nova";
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1.2px;
  text-transform: uppercase;
  background-color: #1c62cd;
  padding: 8px 20px;
}

.price {
  font-family: "Barlow", sans-serif;
}

.sale-item__price-new {
  padding-right: 3px;
  color: #1c62cd;
  font-family: Barlow;
  font-size: 27px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  padding-left: 20px;
  position: relative;
}

.sale-item__price-new::before {
  content: "";
  background-image: url("/images/dollar-sign-blue.svg");
  position: absolute;
  height: 24px;
  width: 24px;
  top: 5px;
  left: 0;
}

.sale-item__price-old {
  color: #c4c4c4;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  position: relative;
  padding-right: 3px;
  margin-bottom: 7px;
}

.sale-item__price {
  text-align: right;
}

.sale-item__price-old::before {
  content: "";
  background-image: url("/images/dollar-sign-grey.svg");
  position: absolute;
  height: 15px;
  width: 15px;
  left: 38px;
  top: 1px;
}

.sale-item__price-old::after {
  content: "";
  border-bottom: 1px solid #c4c4c4;
  position: absolute;
  left: 40px;
  width: 44px;
  rotate: -14deg;
  top: 8px;
}

.sale-item__title {
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  padding: 0 15px;
  margin-bottom: 30px;
}

.sale-item__footer {
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding: 25px 15px;
  background-color: #f0f0f4;
}

.sale-item__footer span {
  color: #1c62cd;
  text-align: center;
  font-family: Barlow;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
